.supers {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: #dccfb8;
}

.some-text {
    color: darkslateblue;
}