.button {
    margin: 7px;
    width: 20px;
    background-color: dimgrey;
    color: royalblue;
    outline: none;
}

.button:focus {
    outline: gold solid 1px;
}

.button:active {
 background: gold ;
}

.active {
    background: gold;
}

.affair {
    display: flex;
}

.item {
    margin: 10px;
    width: 100px;
}

.high {
    color:red;
}

.middle {
    color: orange;
}

.low {
    color:lawngreen;
}