.input:focus {
    outline: none;
}

.superInput {
    margin: 15px;
    background: cornflowerblue;
    border: 3px solid blue;
    color:white;
}

.errorInput {
    margin: 15px;
    border: 3px solid red;
}

.error {
    color: red;
}